#popup{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    /* padding-left: 70px; */
    padding-bottom: 30px;
    z-index: 99999;
    display: none;
}

#popup #leftarrow{
    position: absolute;
    color: white;
    font-size: 45px;
    top: 50vh;
    left: 20px;
    cursor: pointer;
}

#popup #rightarrow{
    position: absolute;
    color: white;
    font-size: 45px;
    top: 50vh;
    right: 25px;
    cursor: pointer;
}

#popup #closearrow{
    position: absolute;
    color: white;
    font-size: 45px;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

#popup #mainpopimg{
    width: 80%;
    height: 80vh;
    margin: 10vh 0px;

}